* {
  margin: 0 auto;
  padding: 1%;
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: rgba(0,0,0,0.4);
}

.Login {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: aliceblue;
}

.form-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.input-field {
  align-items: center;
  height: 100%;
  width: 100%;
  margin: 3%;
}

.submit-button {
  background-color: rgba(0,0,0,0.5);
  border: none;
  color: white;
  padding: 5px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
